<h1>Homepage for <%= @user.login %></h1>
 <% if (@apps_to_show.empty?) %>
      <p>There are no apps on your homepage. Add apps to see apps.</p>
 <% end %>
 <table> 
  <tbody class="sortable">
     <% @user_apps_to_show.each_with_sortable_id do |one_app, sortable_id| %>
         <% the_app = Application.find(one_app.link_id) %>
         <tr id="<%= sortable_id %>" class="<%= the_app.color.downcase %>" > 
            <td> <a href="<%= the_app.link %>"> <%= the_app.name %> </a> </td>
            <td> <%= the_app.description %> </td>
         </tr>
     <% end %>
   </tbody>
  </table>

<p><span> <%= link_to "Add App(s)", user_apps_add_url %>       </span></p>
<p><span> <%= link_to "Remove App(s)", user_apps_remove_url %> </span></p>

<span> <%= button_to "Log Out", logout_path, method: :delete %> </span>
