<% provide(:title, "Log in") %>
<h1>Log in</h1>
<div>
    <!-- block below lifted from stackoverflow.com/questions/9390778/best-practice-method-of-displaying-flash-messages/9421984 -->
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
</div>
<div>
  <div>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :login %>
      <%= f.text_field :login, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


