<h2>Remove Apps for <%= @user.login %> </h2>

<% if (@apps_user_has.empty?) %>
    <p>No apps are available to remove. They have all been removed!</p>
<% else %>

  <p> 
     Select "Remove App" next to the name of each app you want to remove. 
  </p>
  
   <ul>
   <% @apps_user_has.each do | one_app | %>
      <li class="add_or_remove">
        <span> name: <%= one_app.name %> </span> 
        <%= form_for(:app_to_remove, url: user_apps_remove_app_path) do |f| %>
           <%= f.hidden_field :app_to_remove, :value => one_app.id %> 
           <%= f.submit "Remove App", class: "btn-link" %>
         <% end %>
      </li>
   <% end %>
   </ul>
<% end %>

<p>
   <%= link_to "Use Defaults", user_apps_use_defaults_url, method: :get %> 
</p>

<p>
   <span>
      <%= link_to "Back Home", home_url, data: { turbolinks: false } %>  
   </span>   
</p>
<p> <%= button_to "Log Out", logout_path, method: :delete %> </p>

